In [33]:
import pandas as pd
import numpy as np

## Read Json to CSV

In [43]:
Data = '{"employee_name": "James", "email": "james@gmail.com", "job_profile": [{"title1":"Team Lead", "title2":"Sr. Developer"}]}'
df=pd.read_json(Data)
df.head()

,employee_name,email,job_profile
0,James,james@gmail.com,"{'title1': 'Team Lead', 'title2': 'Sr. Develop..."

Converting json to different json format

In [39]:
df.to_json(orient="index")

'{"0":{"employee_name":"James","email":"james@gmail.com","job_profile":{"title1":"Team Lead","title2":"Sr. Developer"}}}'

In [41]:
df.to_json(orient="records")

'[{"employee_name":"James","email":"james@gmail.com","job_profile":{"title1":"Team Lead","title2":"Sr. Developer"}}]'

## Reading HTML content (Web Scraping)

we get the data from table of a web page and this is called WEB SCRAPING

In [59]:
url = 'https://en.wikipedia.org/wiki/International_cricket'

df1 = pd.read_html(url)

df1 is the list of table

In [69]:
df1

[           Team             ICC Men's Cricket World Cup  \
 0     Australia  6 (1987, 1999, 2003, 2007, 2015, 2023)
 1   West Indies                          2 (1975, 1979)
 2         India                          2 (1983, 2011)
 3       England                                1 (2019)
 4      Pakistan                                1 (1992)
 5     Sri Lanka                                1 (1996)
 6   New Zealand                                       0
 7  South Africa                                       0
 8  Total played                                      13

   ICC Men's T20 World Cup ICC World Test Championship Final  \
 0                1 (2021)                          1 (2023)
 1          2 (2012, 2016)                                 0
 2                1 (2007)                                 0
 3          2 (2010, 2022)                                 0
 4                1 (2009)                                 0
 5                1 (2014)                                 0
 6                       0                          1 (2021)
 7                       0                                 0
 8                       8                                 2

   ICC Men's Champions Trophy  Total
 0             2 (2006, 2009)     10
 1                   1 (2004)      5
 2          2 (2002[a], 2013)      5
 3                          0      3
 4                   1 (2017)      3
 5                1 (2002[a])      3
 6                   1 (2000)      2
 7                   1 (1998)      1
 8                          9     32  ,
    Country/Team                 ICC Women's Cricket World Cup  \
 0     Australia  7 (1978, 1982, 1988, 1997, 2005, 2013, 2022)
 1       England                    4 (1973, 1993, 2009, 2017)
 2   New Zealand                                      1 (2000)
 3   West Indies                                             0
 4  Total played                                            12

                 ICC Women's T20 World Cup  ICC Women's T20 Champions Trophy  \
 0  6 (2010, 2012, 2014, 2018, 2020, 2023)                               NaN
 1                                1 (2009)                               NaN
 2                                       0                               NaN
 3                                1 (2016)                               NaN
 4                                       8                               NaN

    Total
 0     13
 1      5
 2      1
 3      1
 4     20  ,
    Country/Team ICC Under-19 Men’s Cricket World Cup  Total
 0         India     5 (2000, 2008, 2012, 2018, 2022)      5
 1     Australia                 3 (1988, 2002, 2010)      3
 2      Pakistan                       2 (2004, 2006)      2
 3    Bangladesh                             1 (2020)      1
 4  South Africa                             1 (2014)      1
 5   West Indies                             1 (2016)      1
 6       England                             1 (1998)      1
 7  Total played                                   14     14,
    Country/Team ICC Under-19 Women's T20 World Cup  Total
 0         India                           1 (2023)      1
 1  Total played                                  1      1,
    Country/Team                                 ACC Men’s Asia Cup  \
 0         India  8 (1984, 1988, 1990–91, 1995, 2010, 2016, 2018...
 1     Sri Lanka             6 (1986, 1997, 2004, 2008, 2014, 2022)
 2      Pakistan                                     2 (2000, 2012)
 3  Total played                                                 15

   Asian Test Championship  Total
 0                       0      8
 1             1 (2001–02)      7
 2             1 (1998-99)      3
 3                       2     17  ,
    Country/Team                                 Women's Asia Cup  Total
 0         India  7 (2004, 2005–06, 2006, 2008, 2012, 2016, 2022)      7
 1    Bangladesh                                         1 (2018)      1
 2  Total played                                                8      8,
    Country/Team                        ACC Under-19 Men’s Asia Cup  Total
 0         India  8 (1989, 2003, 2012, 2013-14, 2016, 2018, 2019...      8
 1    Bangladesh                                           1 (2023)      1
 2   Afghanistan                                           1 (2017)      1
 3      Pakistan                                           1 (2012)      1
 4  Total played                                                  9      9,
    Country/Team Commonwealth Games  Total
 0  South Africa           1 (1998)      1
 1  Total played                  1      1,
    Country/Team Commonwealth Games  Total
 0     Australia           1 (2022)      1
 1  Total played                  1      1,
    Country/Team Asian Games  Total
 0         India    1 (2022)      1
 1     Sri Lanka    1 (2014)      1
 2    Bangladesh    1 (2010)      1
 3  Total played           3      3,
    Country/Team     Asian Games  Total
 0      Pakistan  2 (2010, 2014)      2
 1         India        1 (2022)      1
 2  Total played               3      3,
          Country/Team                                  Test Mace Awarded
 0           Australia  9 (2002, 2003, 2004, 2005, 2006, 2007, 2008, 2...
 1               India                   5 (2010, 2011, 2017, 2018, 2019)
 2        South Africa                               3 (2013, 2014, 2015)
 3             England                                           1 (2012)
 4  Reference: ICC[25]                                 Reference: ICC[25],
   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteInternational cricket  \
 0  International Cricket Council (ICC) ICC Awards...
 1                                              Forms
 2                                      Global events
 3                                               Asia
 4                                             Africa
 5                                           Americas
 6                              East Asia and Pacific
 7                                             Europe
 8                                              Other
 9            Italics indicate a defunct competition.

   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteInternational cricket.1  \
 0  International Cricket Council (ICC) ICC Awards...
 1  Test Men's format Women's format One Day Inter...
 2  World Test Championship World Cup qualifier Me...
 3  Asian Test Championship Asia Cup Women's Asia ...
 4                  WCL Africa Kwibuka T20 Tournament
 5  ICC Americas Championship South American Champ...
 6  ICC EAP Trophy (One day) ICC EAP Trophy (Twent...
 7  European Championship Women's European Champio...
 8                               World Series Cricket
 9            Italics indicate a defunct competition.

   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteInternational cricket.2
 0  International Cricket Council (ICC) ICC Awards...
 1                                                NaN
 2                                                NaN
 3                                                NaN
 4                                                NaN
 5                                                NaN
 6                                                NaN
 7                                                NaN
 8                                                NaN
 9            Italics indicate a defunct competition.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  ,
                      vteInternational cricket seasons  \
 0                                     1876–77 1878–79
 1   1880 1881–82 1882 1882–83 1884 1884–85 1886 18...
 2   1890 1891–92 1893 1893–94 1894–95 1895 1895–96...
 3   1900 1901 1901–02 1902 1902–03 1903 1903–04 19...
 4   1910 1910–11 1911 1911–12 1912 1913 1913–14 19...
 5   1920 1920–21 1921 1921–22 1922 1922–23 1923 19...
 6   1930 1930–31 1931 1931–32 1932 1932–33 1933 19...
 7   1940 1940–41 1941 1941–42 1942 1942–43 1943 19...
 8   1950 1950–51 1951 1951–52 1952 1952–53 1953 19...
 9   1960 1960–61 1961 1961–62 1962 1962–63 1963 19...
 10  1970 1970–71 1971 1971–72 1972 1972–73 1973 19...
 11  1980 1980–81 1981 1981–82 1982 1982–83 1983 19...
 12  1990 1990–91 1991 1991–92 1992 1992–93 1993 19...
 13  2000 2000–01 2001 2001–02 2002 2002–03 2003 20...
 14  2010 2010–11 2011 2011–12 2012 2012–13 2013 20...
 15  2020 2020–21 2021 2021–22 2022 2022–23 2023 20...
 16                                  Associate seasons
 17  2018 2018–19 2019 2019–20 2020 2020–21 2021 20...

                    vteInternational cricket seasons.1
 0                                     1876–77 1878–79
 1   1880 1881–82 1882 1882–83 1884 1884–85 1886 18...
 2   1890 1891–92 1893 1893–94 1894–95 1895 1895–96...
 3   1900 1901 1901–02 1902 1902–03 1903 1903–04 19...
 4   1910 1910–11 1911 1911–12 1912 1913 1913–14 19...
 5   1920 1920–21 1921 1921–22 1922 1922–23 1923 19...
 6   1930 1930–31 1931 1931–32 1932 1932–33 1933 19...
 7   1940 1940–41 1941 1941–42 1942 1942–43 1943 19...
 8   1950 1950–51 1951 1951–52 1952 1952–53 1953 19...
 9   1960 1960–61 1961 1961–62 1962 1962–63 1963 19...
 10  1970 1970–71 1971 1971–72 1972 1972–73 1973 19...
 11  1980 1980–81 1981 1981–82 1982 1982–83 1983 19...
 12  1990 1990–91 1991 1991–92 1992 1992–93 1993 19...
 13  2000 2000–01 2001 2001–02 2002 2002–03 2003 20...
 14  2010 2010–11 2011 2011–12 2012 2012–13 2013 20...
 15  2020 2020–21 2021 2021–22 2022 2022–23 2023 20...
 16                                  Associate seasons
 17  2018 2018–19 2019 2019–20 2020 2020–21 2021 20...  ]

In [70]:
df1[0]

,Team,ICC Men's Cricket World Cup,ICC Men's T20 World Cup,ICC World Test Championship Final,ICC Men's Champions Trophy,Total
0,Australia,"6 (1987, 1999, 2003, 2007, 2015, 2023)",1 (2021),1 (2023),"2 (2006, 2009)",10
1,West Indies,"2 (1975, 1979)","2 (2012, 2016)",0,1 (2004),5
2,India,"2 (1983, 2011)",1 (2007),0,"2 (2002[a], 2013)",5
3,England,1 (2019),"2 (2010, 2022)",0,0,3
4,Pakistan,1 (1992),1 (2009),0,1 (2017),3
5,Sri Lanka,1 (1996),1 (2014),0,1 (2002[a]),3
6,New Zealand,0,0,1 (2021),1 (2000),2
7,South Africa,0,0,0,1 (1998),1
8,Total played,13,8,2,9,32

# Pickling
All pandas objects are equipped with to_pickle methods which use Python’s cPickle module to save data structures to disk using the pickle format.

In [71]:
df=pd.read_pickle('df_excel')

In [72]:
df.head()

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15